*.code-workspace

test.py

__pycache__

.venv

# Ignore all dot folders and their contents
.*/

./keecas.egg-info/*

*egg-info/*

.DS*

# Quarto
/.quarto/
**/*.quarto_ipynb
_freeze/
docs/_site/

# MkDocs (legacy - removed)
/site
